body {
    background-color:blueviolet;
    color: whitesmoke;
}
.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      /* width: 50%; */
}

.heading {
    color:aquamarine;
}

.link {
    color:blanchedalmond;
}